.container {
  background-color: aqua;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: auto;
  padding: 53px 15px 20px;
  font-weight: bold;

  .title {
    padding: 0 32px;
  }
  .right,
  .left {
    display: flex;
    align-items: center;
  }
}
