.container {
  position: relative;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: auto;
  padding: 53px 15px 53px;
  font-weight: bold;
  font-size: 1.6rem;

  @media (max-width: 1024px) {
    padding: 15px 0;
  }

  .title {
    padding: 0 32px;
  }
  .right,
  .left {
    display: flex;
    align-items: center;
  }

  .left {
    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.version {
  position: relative;
  align-self: flex-end;
  top: -0.4rem;
}

.customConnect {
  padding: 1rem 1.6rem;
  color: #FFFFFF;
  background:  linear-gradient(225.67deg, #8DC8E9 3.57%, #8C5AE3 115.97%), #5F5AFA;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}