.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;

  h2 {
    padding: 10px;
  }
  .shade {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--gray-dark);
    opacity: 0.95;
    z-index: 1000;
  }
  .buttons {
    width: 300px;
    margin:auto
  }

  .leftPanel {
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 0px 10px -4px #888888;
    width: 415px;
    flex-shrink: 0;
    height: 420px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    .typeSelect {
      font-family: 'Courier New', Courier, monospace;
      background-color: white;
      margin: 5px auto;
      border-radius: 5px;
      padding: 5px;
      font-size: 15px;
      font-weight: 600;

      &:first-child {
        margin-right: 5px;
      }
    }

    .player {
      line-height: 20px;

      overflow: hidden;
      text-overflow: ellipsis;
      margin: 5px;

      span:first-child {
        font-weight: 600;
        padding: 10px 0;
      }
    }
    .addPlayer {
      button {
        width: 100%;

        font-family: 'Courier New', Courier, monospace;
        background-color: white;
        margin: 5px auto;
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
        font-weight: 600;
      }

      input {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        border: 1px solid lightgray;
      }
    }
  }

  .boardPanel {
    // background-color: antiquewhite;
  }

  .rightPanel {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 12px;
    background-color: white;
    box-shadow: 0px 0px 10px -4px #888888;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 415px;
    flex-shrink: 0;
  }
}
