.container {
  // background-color: aqua;
  width: 310px;
  height: 610px;
  border-radius: 10px;
  background-color: var(--gray-lightest);
  margin-left: 25px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
