.container {
  position: relative;
  width: 710px;
  height: 610px;
  border-radius: 10px;
  background-color: var(--gray-lightest);
  margin-left: 25px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: 992px) {
    width: 95%;
    height: auto;
    margin-left: 0;
    padding: 10px 5px;
    margin-bottom: 10px;
  }
}
