.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 100%;

  border: 1px solid #e8e8e8;
  border-radius: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.left {
  margin-right: auto;
}

.load {
  margin-left: auto;
}

.gameId {
  margin-right: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #2e303d;
}

.stakeFrame {
  margin-right: 15px;
}

.proposer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #2e303d;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px 4px 14px;
  margin-right: 10px;
  background: linear-gradient(225.67deg, #8dc8e9 3.57%, #8c5ae3 115.97%);
  border-radius: 60px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #ffffff;
}

.gradientBorder {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #8dc8e9, #8c5ae3);
  border-radius: 60px;

  .gradientBtn {
    padding: 4px 12px 4px 14px;
    background-color: #ffffff;
    border-radius: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: #8777da;
  }
}
