.container {
    background-color: aqua;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
}
.square:focus {
    outline: none;
}
