.container {
  // background-color: aqua;
  position: relative;

  margin: 40px;

  @media (max-width: 576px) {
    //display: flex;
    margin: 20px 0 70px;
    width: 290px;
    height: 290px;
  }

  .image {
    position: relative;
    width: 181px;
    height: 181px;

    // margin: 0 0 20px;
    padding: 78px 59px 77px 58px;
    border-radius: 10px;
    overflow: hidden;
    // background-color: var(--gray-lightest);

    @media (max-width: 576px) {
      padding: 0;
      width: 100%;
      height: 100%;
      //height: auto;
    }
  }

  .name {
    font-size: 26px;
    font-weight: bold;
    padding: 20px 0;

  }
}
