.container {
  // background-color: aqua;

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .timeout {
    height: 50px;
    text-align: center;
    font-size: 16px;
    color: red;
    font-weight: bold;
    padding: 5px;
  }
}
