.container {
  width: 95%;
  position: relative;
  display: none;
  visibility: hidden;
  text-align: center;

  @media (max-width: 992px) {
    visibility: visible;
    display: block;
  }
}

.hint {
  display: inline-block;
  border: 1px solid gray;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: grey;
  position: absolute;
  right: 10px;
  text-align: center;

}
