.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  margin-bottom: 12px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-bottom: 12px;

    .avatar {
      width: 70px;
      height: 70px;
    }
    .memberInfo {
      margin-left: 12px;
      display: flex;
      flex-direction: column;

      .name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #2e303d;
      }

      .role {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 130%;
        color: #9c9eab;
      }
    }
  }

  .information {
    .description {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 130%;
      color: #2e303d;
      margin-bottom: 20px;
    }

    .contacts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 6px;
      width: 100%;

      .contactsElement {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 4px 4px 14px;
        gap: 4px;
        cursor: pointer;
        background: linear-gradient(225.67deg, #8dc8e9 3.57%, #8c5ae3 115.97%);
        border-radius: 60px;

        a {
          display: flex;
          justify-content: center;
        }

        .contactText {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 100%;
          color: #ffffff;
        }

        .contactImg {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
