.container {
  background-color: var(--gray-lightest);
  border-radius: 1rem;
  margin-right: 25px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 480px) {
    width: 42rem;
    height: 61rem;
  }
  @media (max-width: 992px) {
    width: 95%;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 10px 5px;
  }

  .gameId {
    font-size: 1.7rem;
    flex: 0 0 25px;
    color: #9C9EAB;
    font-family: Inter, sans-serif;
  }

  .protocolLogs {
    color: #5f5afa;
  }

  .buttons {
    flex: 0 0 12rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 992px) {
      flex: auto;
    }

    > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
