.container {
  background-color: aqua;
  width: 250px;
  height: 610px;
  border-radius: 10px;
  background-color: var(--gray-lightest);
  margin-right: 25px;
  padding-top: 45px;
  padding-left: 15px;
  padding-right: 15px;

  .buttons {
    border-top: 1px dotted var(--gray-light);
    margin-top: 20px;
    padding-top: 20px;
  }
}
