.container {
  background-color: var(--gray-lightest);  
  width: 250px;
  height: 610px;
  border-radius: 10px;
  margin-right: 25px;
  padding: 25px 15px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .gameid {
    font-size: 1.6rem;
    flex: 0 0 25px;
  }

  .buttons {
    flex: 0 0 12rem;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    > *:not(:last-child) {
     margin-bottom: 5px;
   }
  }
}
