@import 'styles/colors.scss';
@import 'styles/mixins.scss';
.container {
  color: $medium-purple;
  font-size: 24px;
  text-align: center;

  @media (max-width: 320px) {
  }
  @media (max-width: 375px) {
  }
  @media (max-width: 390px) {
    flex-direction: column;
    text-align: center;
  }
  @media (max-width: 425px) {
  }
  @media (max-width: 768px) {
    max-width: 600px;
  }
  @media (max-width: 1024px) {
    max-width: 800px;
    flex-direction: column;
    text-align: center;
  }
  @media (max-width: 1440px) {
    max-width: 900px;
  }
  @media (max-width: 1920px) {
  }
}
.containerCard {
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin: 0 0 20px 0;
}
.title {
  color: var(--grey, #2e303d);
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  @media (max-width: 390px) {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
}
.titleCenter {
  color: var(--grey, #2e303d);
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  margin-bottom: 12px;
  @media (max-width: 390px) {
    font-size: 20px;
  }
}
.imageSize {
  @media (max-width: 390px) {
    width: 49px;
    height: 37px;
  }
}
.titleRight {
  display: none;

  @media (max-width: 390px) {
    display: block;
  }
}
.titleResult {
  @include gradient-background-text(#8dc8e9, #8c5ae3);
  font-family: Inter;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 22px;
  @media (max-width: 390px) {
    font-size: 36px;
  }
}
.win {
  // Стили для состояния выигрыша
}

.lose {
  // Стили для состояния проигрыша
}

.draw {
  // Стили для состояния ничьи
}
