@import 'styles/colors.scss';
.container {
  color: $medium-purple;
  font-size: 24px;
  text-align: center;
}
.title {
  color: var(--grey, #2e303d);
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  @media (max-width: 390px) {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
}
.titleRight {
  display: none;
  @media (max-width: 390px) {
    display: block;
  }
}
.win {
  // Стили для состояния выигрыша
}

.lose {
  // Стили для состояния проигрыша
}

.draw {
  // Стили для состояния ничьи
}
