.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid var(--light-grey, #e8e8e8);
  margin: 0 auto;
  margin-bottom: 10px;
  @media (min-width: 320px) {
    margin-bottom: 12px;
    padding: 8px;
    max-width: 342px;
  }
  @media (min-width: 390px) {
    margin-bottom: 12px;
    padding: 8px;
    max-width: 642px;
  }
  @media (min-width: 768px) {
    margin-bottom: 14px;
    padding: 24px;
    font-size: 14px;
    max-width: 900px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 20px;
    padding: 22px;
    max-width: 1260px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 30px;
    padding: 30px 60px;
    max-width: 1280px;
  }
  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 0 2rem 1rem 0;
    overflow: hidden;
    flex-shrink: 0;
    @media (max-width: 1024px) {
      margin-right: 1.8rem;
    }
  }
  .infoContainer {
    display: flex;
    align-self: flex-start;
    @media (max-width: 390px) {
    }
  }
  .nameRoleContainer {
    text-align: left;
    text-align: justify;
  }
  .name {
    color: var(--grey, #2e303d);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 0 0 5px 0;
    font-size: 2rem;
    @media (min-width: 1024px) {
      font-size: 2.4rem;
    }
  }
  .role {
    font-weight: 700;
    color: var(--grey, #9c9eab);
    font-family: Inter;
    font-style: normal;
    line-height: 130%;
    font-size: 1.5rem;
    @media (min-width: 1024px) {
      font-size: 1.7rem;
    }
  }

  .contactsContainer {
    display: flex;
  }

  .contactsElement {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-right: 6px;
  }
}
.description {
  text-align: justify;
  color: var(--grey, #2e303d);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
  font-size: 14px;
  font-size: 1.5rem;
  @media (min-width: 1024px) {
    font-size: 1.7rem;
  }
}
