.container {
  font-weight: 600;
  color: #9c9eab;
  font-size: 0.5rem;
  @media (min-width: 320px) {
    font-size: 1rem;
  }
  @media (min-width: 390px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}
