.container {
  margin-top: 50px;
  padding: 0 24px;

  .title {
    text-align: start;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #2e303d;
  }
  .description {
    text-align: start;
    margin-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #9c9eab;
  }

  .gameListInfo {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 15% 25% 60%;
    @media (max-width: 370px) {
      grid-template-columns: 8% 24% 68%;
    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
      text-align: left;
      color: #2e303d;
    }
  }
}
