.container {
  text-align: center;

  @media (max-width: 576px) {
    padding: 40px 10px;
  }

  .title {
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #2e303d;
    text-align: left;
  }
  .description {
    margin-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #9c9eab;
    text-align: left;
  }
}
