.container {
  padding: 100px;
  text-align: center;

  @media (max-width: 576px) {
    padding: 40px 10px;
  }

  .title {
    font-size: 42px;
    font-weight: bold;

    @media (max-width: 576px) {
      font-size: 33px;
    }
  }
  .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #9C9EAB;

    @media (max-width: 576px) {
      font-size: 22px;
      padding-left: 0 ;
      padding-top: 10px;
    }
  }
}
