.container { 
  // background-color: aqua; 
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(#000, 0.1);

  &.red {
    background-color: red;
  }

  &.white {
    background-color: white;
  }
}
