.container {
  background-color: var(--gray-lightest);

  text-align: start;
  margin: 2px auto;
  max-width: 1000px;
  padding: 5px 10px;
  cursor: pointer;

  @media (max-width: 992px) {
    padding: 5px 0;
    display: flex;
    margin: 2px 5px;
  }

  &.header {
    font-weight: bold;
    &:hover {
      background-color: var(--gray-lightest);
    }
  }

  &:hover {
    background-color: var(--gray-lighter);
  }

  .id {
    display: inline-block;
    width: 15%;
    text-align: center;

    @media (max-width: 768px) {
      width: 10%;
    }
  }
  .stake {
    display: inline-block;
    width: 15%;
    text-align: center;

    @media (max-width: 768px) {
      width: 10%;
    }
  }
  .proposer {
    display: inline-block;
    width: 50%;
    text-align: center;
    word-break: break-word;

    @media (max-width: 992px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      width: 60%;
    }
  }
  .rules {
    display: inline-block;
    width: 20%;
    text-align: center;
    word-break: break-word;

    @media (max-width: 992px) {
      width: 45%;
    }

    @media (max-width: 768px) {
      width: 20%;
    }
  }
  .winner {
    display: inline-block;
    // width: 450px;
    text-align: center;
  }
  .loser {
    display: inline-block;
    // width: 450px;
    text-align: center;
  }
}
