.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 98;
}

.container {
  //position: relative;
  display: flex;
  padding: 0 10px;

  @media (max-width: 1024px) {
    order: 99;
  }

  .logo {
    position: relative;
    width: 35px;
    height: 35px;
    top: 5px;
  }
  .navigation {
    display: flex;
    align-items: center;

    button {
      position: relative;
      margin-left: 10px;
      width: 22px;
      height: 18px;
      z-index: 100;

      span {
        top: calc(50% - 1px);

        &,
        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 22px;
          height: 2px;

          background-color: black;
        }
        &::before {
          top: 9px;
        }
        &::after {
          bottom: 9px;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;

      @media (max-width: 1024px) {
        // display: none;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        //justify-content: left;
        width: 65%;
        background-color: #ffffff;
        z-index: 101;
      }

      > li {
        display: inline-block;
        padding: 0 25px;

        @media (max-width: 1024px) {
          padding: 10px 25px;
          border-bottom: 1px solid #bdbdbd;
          width: 100%;
        }

        a {
          display: block;
        }

        &.active {
          font-weight: bold;
          color: var(--gray-darkest);
          svg {
            fill: var(--gray-darkest);
          }
        }

        &.inactive {
          color: var(--gray);
          svg {
            fill: var(--gray);
          }
        }
        &:hover {
          font-weight: bold;
          color: var(--black);
          svg {
            fill: var(--black);
          }
        }
      }
    }
  }
}
