.container {
  display: flex;
  font-family: Inter;
  font-weight: 600;
  color: #9c9eab;
  justify-content: space-between;
  @media (min-width: 320px) {
    margin: 0 auto;
  }
  .text {
    font-family: Assistant;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .nav {
    display: flex;
    gap: 8px;
    margin: 0 8px 0 0px;
    color: #9c9eab;
    font-size: 2rem;
    white-space: nowrap;
    font-weight: 600;
    gap: 8px;
    @media (min-width: 320px) {
      margin: 0;
      font-size: 1rem;
      gap: 3rem;
    }
    @media (min-width: 390px) {
      margin: 0 2rem 0 0;
      font-size: 1.6rem;
      gap: 2rem;
    }
    @media (min-width: 450px) {
      font-size: 1.6rem;
      gap: 3rem;
    }
    @media (min-width: 576px) {
      font-size: 1.6rem;
      gap: 4.5rem;
    }
    @media (min-width: 768px) {
      margin: 0 2rem 0 0;
      font-size: 1.6rem;
      gap: 1rem;
    }
    @media (min-width: 1024px) {
      margin: 0 5.6rem 0 0px;
      font-size: 2rem;
    }
    @media (min-width: 1440px) {
      margin: 0 8.6rem 0 0;
    }
    .link {
      // &:nth-child(-n + 2) {
      //   @media (min-width: 320px) {
      //     display: none;
      //   }
      //   @media (min-width: 768px) {
      //     display: flex;
      //   }
      // }
      &.active {
        color: black;
      }
      a:hover {
        color: black;
      }
    }
  }
}
