.container {
  max-width: 169rem;
  margin: 0 auto;
  position: relative;
  background-color: var(--gray-lightest);
  background-color: var(--white);

  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  //flex-wrap: wrap;
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-top: 15px;
  }

  .disclaimerLink{
    @media (min-width: 992px) {
      width: 95%;
      cursor: pointer;
    }
  }
}

.version {
  display: none;
  position: absolute;
  top: 5rem;
  left: 15rem;
  font-size: 1.5rem;
  font-weight: 700;
}
