.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;

  .gamelist {
    // background-color: aquamarine;
    text-align: center;
    padding: 20px;

    .title {
      padding: 20px;
    }

    .gameElement {
      background-color: white;
      box-shadow: 0px 0px 10px 5px #8888885b;
      width: 150px;
      height: 150px;
      margin: auto;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 900;

      &:hover {
        background-color: antiquewhite;
      }
    }
  }
}
