.container {
  padding: 100px;
  text-align: center;

  @media (max-width: 576px) {
    padding: 40px 10px;
  }

  .title {
    font-size: 42px;
    font-weight: bold;

    @media (max-width: 576px) {
      font-size: 33px;
    }
  }
  .description {
    font-size: 26px;
    font-weight: normal;
    padding-left: 10px;
    padding-top: 20px;

    @media (max-width: 576px) {
      font-size: 22px;
      padding-left: 0 ;
      padding-top: 10px;
    }
  }

  .gamelist {
    display: flex;
    justify-content: center;

    padding: 20px;

    @media (max-width: 576px) {
      padding: 0 20px 20px;
      align-items: center;
      flex-direction: column;
    }
  }
}
