.square {
  width: calc(420px / 3);
  height: calc(420px / 3);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 576px) {
    height:  calc(310px / 3)
  }

  &:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  &.disputable {
    color: red;
  }
}
