.square {
  background-color: transparent;
  float: left;
  font-size: 40px;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 12.5%;
  background-position: center;
  mask-position: center;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  

  &.disputable {
    background-color: red;
  }

  &.red {
    mask-size: 41%;
    background-color: red;
    mask-image: url('/images/piece.svg');   
  }

  &.white {
    mask-size: 41%;
    background-color: white;
    mask-image: url('/images/piece.svg');
  }

  &.redQueen {
    mask-size: 41%;
    background-color: red;
    mask-image: url('/images/queen.svg');   
  }
  &.whiteQueen {
    mask-size: 41%;
    background-color: white;
    mask-image: url('/images/queen.svg');
  }
  &.redQueen.selected {
    mask-image: url('/images/queen.svg'), url('/images/selection.svg');
    mask-size: 41%, 55%;
    background-color: red;
  }
  &.whiteQueen.selected {
    mask-image: url('/images/queen.svg'), url('/images/selection.svg');
    mask-size: 41%, 55%;
  }


  &.selected {
    mask-image: url('/images/selection.svg');
    mask-size: 55%;
  }

  &.red.selected {
    mask-image: url('/images/piece.svg'), url('/images/selection.svg');
    mask-size: 41%, 55%;
    background-color: red;
  }
  &.white.selected {
    mask-image: url('/images/piece.svg'), url('/images/selection.svg');
    mask-size: 41%, 55%;
  }
}
.square:focus {
  outline: none;
}
