.square {
  background-color: transparent;
  border: 1px solid #999;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 5vw;
  max-height: 50px;
  padding: 0;
  text-align: center;
  width: 5vw;
  max-width: 50px;

  &.disputable {
    color: red;

  }
}
.square:focus {
  outline: none;
}
