.square {
  position: relative;
  background-color: transparent;
  float: left;
  font-size: 40px;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 12.5%;
  background-position: center;
  background-repeat: no-repeat;

  &.disputable {
    background-color: red;
  }

  &.red {
    background-size: 50%;
    background-image: url('/images/piece.red.svg');
  }

  &.white {
    background-size: 50%;
    background-image: url('/images/piece.white.svg');
  }

  &.redQueen {
    background-size: 50%;
    background-image: url('/images/queen.red.svg');
  }
  &.whiteQueen {
    background-size: 50%;
    background-image: url('/images/queen.white.svg');
  }
  &.redQueen.selected {
    background-image: url('/images/queen.red.svg'), url('/images/selection.svg');
    background-size: 50%, 75%;
  }
  &.whiteQueen.selected {
    background-image: url('/images/queen.white.svg'), url('/images/selection.svg');
    background-size: 50%, 75%;
  }

  &.selected {
    background-image: url('/images/selection.svg');
    background-size: 75%;
  }

  &.red.selected {
    background-image: url('/images/piece.red.svg'), url('/images/selection.svg');
    background-size: 50%, 75%;
  }
  &.white.selected {
    background-image: url('/images/piece.white.svg'), url('/images/selection.svg');
    background-size: 50%, 75%;
  }
}
.square:focus {
  outline: none;
}
