.card {
  display: grid;
  grid-template-columns: 15% 17% 42% 26%;
  align-items: center;
  padding: 16px 10px;

  width: 100%;

  border: 1px solid #e8e8e8;
  border-radius: 10px;
  margin-bottom: 10px;

  @media (max-width: 370px) {
    grid-template-columns: 14% 16% 46% 23%;
  }

  .gameId {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: #2e303d;
  }

  .stake {
    display: flex;
    width: 50px;

    .stakeAmount {
      margin-top: 1px;
      margin-right: 3px;
      margin-left: -3px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      color: #2e303d;
    }

    .stakeFrame {
      img {
        margin-top: -1px;
      }
    }
  }

  .row {
    display: flex;
  }

  .proposerPseudographic {
    margin-right: 6px;
  }

  .proposer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #2e303d;
    text-align: left;
    word-break: break-all;
  }

  .gradientBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px 4px 14px;
    gap: 4px;
    background: linear-gradient(225.67deg, #8dc8e9 3.57%, #8c5ae3 115.97%);
    border-radius: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: #ffffff;

    img {
      margin-left: 2px;
      @media (max-width: 370px) {
        display: none;
      }
    }
  }
}
