$moveColor: rgb(25, 160, 22);
.container {
  margin: 30px 3px;
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 10px;
    padding-top: 5px;
  }
  .playerData {
    position: relative;
    flex-grow: 1;
    .name {
      font-size: 16px;

      padding-bottom: 5px;
    }
    .address {
      font-size: 16px;
    }

    .move {
      position: absolute;
      top: 0;
      font-size: 1.5rem;
      font-weight: 500;
      display: inline-block;
      color: $moveColor;
      padding: 1px 4px;
      animation-name: blinking;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      text-transform: uppercase;
    }
  }

  .playerType {
    padding: 10px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
