.container { 
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  order: -1;
  padding: 0 15px;
  @media (max-width: 992px) {
    width: 95%;
    position: relative;
    order: 4;
    padding: 0;
  }
 }
