.container {
  background-color: var(--white);
  max-width: 1250px;
  margin: auto;
  padding: 53px 15px 33px;
  text-align: center;

  @media (max-width: 1024px) {
    order: 1;
  }

  > .title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;

    @media (max-width: 576px) {
      font-size: 34px;
      margin-bottom: 10px;
    }
  }

  > .description {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 42px;

    @media (max-width: 576px) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  .wallets {
    font-size: 61.5px;
    font-weight: bold;
  }
  .connectButton {
    display: flex;
    justify-content: center;
    padding: 40px;

    @media (max-width: 576px) {
      padding: 20px;
    }
  }
}
