.container {
  background-color: aqua;
  position: relative;
  background-color: var(--gray-lightest);
  width: 610px;
  height: 610px;
  border-radius: 10px;
  z-index: 1000;

  .shade {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--gray-dark);
    opacity: 0.95;
    z-index: 1000;

    .wait {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      color: var(--white);
      text-align: center;
      opacity: 1;
      // margin: auto;
      top: 45%;

      .connectButton {
        text-align: center;
        margin: auto;
        margin-top: 10px;
        width: 220px;
      }
    }

    .report {
      position: relative;
      top: 40%;
      text-align: center;
      color: var(--white);

      .whatToReport {
        font-size: 16px;
        font-weight: bold;
      }

      .buttons {
        padding: 20px;

        button {
          margin: 10px;
        }
      }
    }

    .appeal {
      position: relative;
      top: 40%;
      text-align: center;
      color: var(--white);

      .madeAppeal {
        font-size: 16px;
        font-weight: normal;
        margin: 20px;
      }

      .notice {
        font-size: 26px;
        font-weight: bold;
      }
    }

    .win {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      color: var(--white);
      text-align: center;
      opacity: 1;
      // margin: auto;
      top: 15%;

      .small {
        font-size: 16px;
      }
    }

    .link {
      // background-color: aqua
      position: relative;
      font-size: 16px;
      font-weight: bold;
      color: var(--white);
      text-align: center;
      opacity: 1;

      // margin: auto;
      top: 20%;

      .badges {
        .text {
          color: var(--black); // height: 200px;
          font-size: 20px;
          padding: 20px 0 10px;
        }

        background-color: var(--white);
        padding: 10px;
        margin: auto;
        // background-color: var(--white);
        width: 80%;
        border-radius: 20px;

        .row {
          .badge {
            display: inline-block;
            // background-color: aqua;
            cursor: pointer;

            @keyframes slide {
              0% {
                width: 90px;
                height: 90px;
                filter: sepia(1);
              }

              50% {
                width: 100px;
                height: 100px;
                margin-top: -10px;
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 20px;
                filter: sepia(1);
              }

              100% {
                width: 90px;
                height: 90px;
                filter: sepia(1);
              }
            }

            img {
              margin: 10px;
              width: 90px;
              height: 90px;
              filter: sepia(1);
            }

            &.available {
              img {
                opacity: 1;
                cursor: pointer;
                filter: unset;
              }
            }

            &.obtained {
              img {
                animation-duration: 2s;
                animation-name: slide;
                animation-iteration-count: 3;
                animation-direction: normal;
                animation-fill-mode: none;
                width: 90px;
                height: 90px;
                filter: drop-shadow(0px 0px 5px yellow);
                opacity: 1;
                cursor: pointer;
              }
            }

            // border: 1px solid red;
          }
        }
      }
    }
  }

  .header {
    padding: 25px;
    position: relative;
    // background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    height: 15%;
    z-index: 1000;

    .room,
    .prize {
      width: 100px;
      flex-shrink: 0;
      flex-grow: 0;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }

    .message {
      max-width: 65%;
      text-align: center;
    }
  }

  .gameBoardContainer {
    height: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}